{% extends 'shopapp/base.html' %}

{% block title %}
    Groups
{% endblock %}

{% block body %}
    <h1>Groups:</h1>

    <form method="post">
        {% csrf_token %}
        Group Name: {{ form.as_p }}
        <button type="submit">Add</button>
    </form>

    {% if groups %}
        {% for group in groups %}
            {{ group.name }}
            <ul>
                {% for permission in group.permissions.all %}
                    <div>
                        <li>{{ permission.name }}</li>
                    </div>
                {% endfor %}
            </ul>

        {% endfor %}

    {% else %}
        Not groups yet
    {% endif %}
{% endblock %}